// Place all the styles related to the statuses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.status {
<<<<<<< HEAD
  border-bottom: solid 1px #cccccc;
=======
  border-bottom: solid 1px #CCC;
>>>>>>> 80b5383028e9efd8ba7885652f5815a74b1e0451
  padding: 5px 0;
}

.status p {
  margin: 4px 0;
}

<<<<<<< HEAD
=======
.status.hover{
  background: #FAFAFA;
}

>>>>>>> 80b5383028e9efd8ba7885652f5815a74b1e0451
.status .admin {
  display: none;
}

.status.hover .admin {
  display: inline;
}